{% extends 'base.html' %}

{% block content %}
<div id="fil" class = "container">
  <form action = "" method = "GET">
    {{product_filter.form}}
    <input 
    type = "submit"
    value = "Search Products"
    class="btn btn-secondary btn"/>
  </form>
</div>

<h1>Products</h1>
<div class="row">
    {% for product in products %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image_url }}" class="card-img-top" alt="img">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">${{ product.price }}</p>
              <a href="{% url 'cart' %}" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
    </div>
    {% endfor %}
</div>
<ul>   
  <li>{{ product.name }} (${{ product.price }})</li>  
</ul>
{% endblock %}